.folder-name {
  .folder-name {
    display: flex;
    flex-direction: row;

    .folder-icon {
      padding-top: 4px;
    }

    .folder-name {
      display: block;
      flex-grow: 1;
      padding-left: 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      > div {
        width: 100%;
      }
    }

    .folder-actions {
      flex-shrink: 0;
    }

    button {
      display: inline-block;
      opacity: 0.6;

      &:hover {
        opacity: 1;
      }
    }
  }
}