.folder-name {
  .show-folder-name {
    .folder-name {
      display: inline-block;
      margin-left: 10px;
      min-width: 140px;
    }

    button {
      opacity: 0.6;

      &:hover {
        opacity: 1;
      }
    }
  }
}