<?xml version='1.0' encoding='utf-8'?>
<widget id="ro.kenjiru.notes" version="1.0.1" xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Notes</name>
    <description>Notes application compatible with Tomboy.</description>
    <author email="kenjiru.ro@gmail.com" href="https://github.com/kenjiru">Kenjiru</author>
    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="detect-data-types" value="true" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="android-installLocation" value="auto" />
    <platform name="android">
        <icon density="ldpi" src="res/icon/android/drawable-ldpi-icon.png" />
        <icon density="mdpi" src="res/icon/android/drawable-mdpi-icon.png" />
        <icon density="hdpi" src="res/icon/android/drawable-hdpi-icon.png" />
        <splash density="land-ldpi" src="res/screen/android/drawable-land-ldpi-screen.png" />
        <splash density="land-mdpi" src="res/screen/android/drawable-land-mdpi-screen.png" />
        <splash density="land-hdpi" src="res/screen/android/drawable-land-hdpi-screen.png" />
    </platform>
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <content src="index.html"/>
        <allow-intent href="market:*" />
    </platform>
    <feature name="InAppBrowser">
        <param name="android-package" value="org.apache.cordova.inappbrowser.InAppBrowser" />
    </feature>
    <engine name="android" spec="~5.1.1" />
    <plugin name="cordova-plugin-inappbrowser" spec="1.5.0"/>
    <plugin name="cordova-plugin-statusbar" spec="~2.1.0"/>
    <plugin name="cordova-plugin-whitelist" spec="1"/>
</widget>
